<div class="loginContainer">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="avatarFrameoffline mt-1 mb-1">
          <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="text-center">
          <h3>Sign In</h3>
        </div>
        <p *ngIf="operation=='register'" class="mb-3">Do you have an account?<a class= "alert-link" (click)="operation ='login'"> Sign In </a></p>
        <p class="mb-3">Don't have an account? <a class= "alert-link"(click)="operation = 'register'"> Create account</a></p>
        <div>
          <input [(ngModel)]="email" class="form-control mb-3 mt-3" type="email" placeholder="email" />
          <input [(ngModel)]="password" class="form-control mb-3 mt-3" type="password" placeholder="password" />
          <input [(ngModel)]="nick" *ngIf="operation == 'register'" class="form-control mt-1 mb-1" type="text" placeholder="nick" />
        </div>
        <div  class="text-center">
          <a (click)="login()"  *ngIf="operation == 'login'"class="btn btn-success ml-3 mr-3 mt-3">Login</a>
          <a (click)="register()" *ngIf="operation == 'register'" class="btn btn-success ml-3 mr-1 mt-3">Register</a>
        </div>
        <div class="row justify-content-md-center">
          <a (click)="loginWithFacebook()"  *ngIf="operation == 'login'"class="btn btn-primary ml-3 mr-3 mt-3">Login With Facebook </a>
          <a (click)="loginWithGoogle()"  *ngIf="operation == 'login'" class="btn btn-danger ml-3 mr-3 mt-3">Login with Google </a>
        </div>
        <div class="text-right">
            <a (click)="logout()"  *ngIf="operation == 'login'"class="btn btn-link ml-3 mr-3 mt-3">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>

