<div id="homeContainer">
  <div class="whiteBorderClassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <div *ngIf="user" class="avatarFrameOnline">
            <img  [src]="user.avatar || 'assets/img/generic_avatar.png'" id="homeAvatarPic">
          </div>
        </div>
        <div class="col" *ngIf="user" >
            <div >
              <b>{{user.nick}}</b>
              <div>
                <span>{{user.status}}</span>
                <br/>
                <i class="text-primary"> {{user.subnick || (user.subnick) }} </i> <br>
                <span>Escribe un mensaje personal</span><br>
                <a (click)="logout()" >logout</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="whiteContainerPadded mt-3">
    <div class="row">
      <div class="col">
        <input class="form-control" type="text" placeholder="Search Friend" [(ngModel)]="query"  />
      </div>
      <div class="col-md-auto">
        <img  (click)="open(content)" src="assets/img/logo_live_add.png" class="icon">
      </div>
    </div>
    <hr>
    <b *ngIf="user && user.friends" >Friends {{user.friends.length}} / {{user.friends.length}}</b>
    <div *ngIf="user && user.friends">
      <app-contact class="d-block mb-1" *ngFor="let user of user.friends | search: query; let i=index"  [uid]="user">
      </app-contact>
    </div>
  </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Send a Request</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
          <label for="emailInvited">email</label>
          <div class="input-group">
            <input id="emailInvited" [(ngModel)]="emailInvited" (click.enter)="sendRequest()"  class="form-control" placeholder="email" name="emailInvited">
        </div>
     </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Save</button>
    </div>
  </ng-template>
  <pre>{{closeResult}}</pre>
