.avatarFrameoffline {
  background: rgba(183,222,237,1);
  background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 28%, rgba(183,222,237,1) 70%, rgba(183,222,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(0%, rgba(33,180,226,1)), color-stop(28%, rgba(113,206,239,1)), color-stop(70%, rgba(183,222,237,1)), color-stop(100%, rgba(183,222,237,1)));
  background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 28%, rgba(183,222,237,1) 70%, rgba(183,222,237,1) 100%);
  background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 28%, rgba(183,222,237,1) 70%, rgba(183,222,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 28%, rgba(183,222,237,1) 70%, rgba(183,222,237,1) 100%);
  background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 28%, rgba(183,222,237,1) 70%, rgba(183,222,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.36);
    -webkit-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
    display: inline-block;
}


.avatarFrameOnline {
  background: rgb(8, 245, 0);
  background: -moz-linear-gradient(-45deg, rgba(180,245,0,1) 0%, rgba(175,242,2,1) 4%, rgba(104,191,24,1) 62%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(180,245,0,1)), color-stop(4%, rgba(175,242,2,1)), color-stop(62%, rgba(104,191,24,1)));
  background: -webkit-linear-gradient(-45deg, rgba(180,245,0,1) 0%, rgba(175,242,2,1) 4%, rgba(104,191,24,1) 62%);
  background: -o-linear-gradient(-45deg, rgba(180,245,0,1) 0%, rgba(175,242,2,1) 4%, rgba(104,191,24,1) 62%);
  background: -ms-linear-gradient(-45deg, rgba(180,245,0,1) 0%, rgba(175,242,2,1) 4%, rgba(104,191,24,1) 62%);
  background: linear-gradient(135deg, rgba(180,245,0,1) 0%, rgba(175,242,2,1) 4%, rgba(104,191,24,1) 62%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4f500', endColorstr='#68bf18', GradientType=1 );
  border-radius: 15px;
}

.center {
  text-align: center !important;
}

.generalContent {
  margin-top: 56px;
}
#homeAvatarPic {
  max-width: 100px;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  background: #f2f6f8;
  background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  background: -webkit-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0);
  display: inline-block;
  padding: 6px12px;
  cursor: pointer;
  border: 1px solid #8dd2f3;
}
